<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="other_page">
    <div class="col-6">
        <form method="post" action="/add-student">
            <div class="row mt-3">
                <div class="col-12">
                    <label>FULL NAME:</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <input type="text" name="fullName" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>CITY:</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <input type="text" name="city" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>GPA:</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <input type="text" name="gpa" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>AGE:</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <input type="text" name="age" class="form-control">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-sm btn-success">ADD STUDENT</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>