<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<body>
<div layout:fragment="other_page">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>FULL NAME</th>
            <th>CITY</th>
            <th>AGE</th>
            <th>GPA</th>
            <th>DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="st :${stud}">
            <td th:text="${st.id}"></td>
            <td th:text="${st.fullName}"></td>
            <td th:text="${st.city}"></td>
            <td th:text="${st.age}"></td>
            <td th:text="${st.gpa}"></td>
            <td style="width: 7%"><a th:href="@{'/details/' + ${st.id}}" class="btn btn-secondary btn-sm">DETAILS</a>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>