<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>

<div th:insert="nav.html"></div>

<div class="container mt-2">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Astana</li>
                <li class="list-group-item list-group-item-secondary">Almaty</li>
                <li class="list-group-item list-group-item-success">Karaganda</li>
            </ul>
        </div>
        <div class="col-9" layout:fragment="other_page"></div>
    </div>
</div>

</body>
</html>